doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title Bicicleitor
    meta(content='' name='descriptison')
    meta(content='' name='keywords')
    // Favicons
    link(href='/images/favicon.png' rel='icon')
    link(href='/images/apple-touch-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    // Vendor CSS Files
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='/vendor/icofont/icofont.min.css' rel='stylesheet')
    link(href='/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
    link(href='/vendor/venobox/venobox.css' rel='stylesheet')
    link(href='/vendor/aos/aos.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
  body
    block content
