extends ../layout
block content
    a(href="bicicletas/create") Add Nueva Bicicleta
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Actions
        tbody
            each bici in bicis
                tr
                    td(scope="row")=  bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td(scope="row")
                        .col-md-6
                            a(href="bicicletas/"+bici.id+"/update" class="btn btn-outline-warning") Actualizar
                        .col-md-6
                            form.inline(method='post',action='/bicicletas/'+bici.id+'/delete')
                                input(type="hidden", name="id",value=bici.id)
                                button.btn.btn-outline-dark(type="submit" name="submit_param",value="submit_value",class="btn") Eliminar
        