extends ../layout

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Actualizando Bicicleta bici.id

    br
    br

    form(action=`/biciletas/${bici.id}/update` method="post")
        label(form='id') Id
        input#id(type="text", name="id",value=bici.id)
        br
        label(form='modelo') Modelo
        input#modelo(type="text", name="modelo" value=bici.modelo)
        br
        label(form='color') Color
        input#color(type="text", name="color" value=bici.color)
        br
        label(form='lat') latitud
        input#lat(type="text", name="lat" value=bici.ubicacion[0])
        br
        label(form='lng') Longitud
        input#lng(type="text", name="lng" value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit", value="OK")